<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="home-page-content" aria-label="Content">
      <div id="top" class="section" style="background-color: #A45EE0;">
        <div class="wrapper">
          <h1>InnovatED</h1>
          <p>InnovatED AS is an education technology firm based in Trondheim, Norway specializing in gamification and digital didactics. InnovatED has created the gamified classroom framework <span class="emphasis">Heimdall's Quest</span>, which has been used in upper secondary schools in Norway to further motivation and improve learning environments in vocational education programs.</p>
          <p><a href="#our-mission" class="button">Our Mission</a></p>
        </div>
      </div>
      <div id="our-mission" class="section" style="background-color: #71bb8d;">
        <div class="wrapper">
          <h2>Our Mission</h2>
          <p>InnovatED is a company by teachers, for teachers. Our goal is to give a hands-on approach on how to improve the classroom learning environment through innovative use of technology, not through a traditional tools-based approach, but through an integration of a “digital mindset” influenced by the work methodologies of the technology sector. Our team members have many years of experience working with innovative teaching methods in many different types of classrooms, with different types of students, both at the upper secondary and university level.</p>
          <p><a href="#activities" class="button">Our activities</a></p>
        </div>
      </div>
      <div id="activities" class="section" style="background-color: #fa8ee4;">
        <div class="wrapper">
          <h2>Workshops and Courses</h2>
          <p>InnovatED also provides workshops and coursing in use of technology in education. Our goal is to introduce teachers to a less tools-based approach to technology, but rather a holistic view on integrating technology into the entire teaching process. This includes reexamining how the teacher and students interact, and encouraging better communication and more efficient workflows, similar to the methodologies of the technology sector (i.e. Agile development).</p>
          <p><a href="#experience" class="button">Our Experience</a></p>
        </div>
      </div>
      <div id="experience" class="section" style="background-color: #E08C00;">
        <div class="wrapper">
          <h2>Experience and Network</h2>
          <p>Members of the InnovatED team also have extensive experience giving keynotes, and holding workshops and courses on innovative use of technology in education. We have been represented at many big teacher conferences in Norway and have an extensive network in the Norwegian edtech industry. Members of the team have participated in various Erasmus+ and international projects, both as partners and as coordinators.</p>
          <p><a href="/blog" class="button">Read our blog</a></p>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
